<div class='add forest'>
  <form>
    <h2>Add a podcast</h2>
    <label for="title">Title</label>
    <input name='title' type="text" ng-model='podcast.title'>
    <label for="description">Description</label>
    <input name='description' type="textarea" ng-model='podcast.description'>
    <label for="date">Date</label>
    <input name='date' type="date" ng-model='podcast.date'>
    <label for="image_url">Image Url</label>
    <input name='image_url' type="text" ng-model='podcast.image_url'>
    <label for="link">Link</label>
    <input name='link' type="text" ng-model='podcast.link'>
    <input type="submit" value='submit' ng-click='createPodcast(podcast)'>
  </form>
</div>
