<div class='main forest'>
  <div class='intro'>
    <div class='introHeader'>
      <div class='homeWrapper'>
          <h3 class='element' cm-typed></h3>
      </div>
    </div>
    <div class='introText'>
      <p>Chameleon shares the nitty gritty details of the journeys of people who are disrupting and influencing the tech and entrepreneurship worlds. The converstations are limited to 30 minutes in the spirit of succint and effective storytelling. The storytellers come from diverse backgrounds but have all ended up in the world of tech and entrepreneurship by different mechanisms. I ask the hard questions. <a class='inTextLink' href="/podcasts">Take a listen.</a></p>
      <!-- <input type="text" placeholder="Enter an email" ng-model='email'>
      <button class='subscribe' ng-click='toggleModal()'>Subscribe to weekly podcasts
      </button> -->
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//herokuapp.us13.list-manage.com/subscribe/post?u=d74278176dcd95eda0f56039f&amp;id=14b09ea497" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

      <div class="mc-field-group">
      	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
      </div>
      <div class="mc-field-group">
      	<input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
      </div>
      <div class="mc-field-group">
      	<input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
      </div>
      	<div id="mce-responses" class="clear">
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
      	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d74278176dcd95eda0f56039f_14b09ea497" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe to Weekly Podcasts" name="subscribe" class="subscribe"></div>
          </div>
      </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>

<div class='modal animated' ng-show='showmodal' ng-click='toggleModal()'>
  <div class='inlay'>
    <i class='fa fa-close'></i>
    <h3>You've been added to our list! Keep an eye out for a confirmation email.</h3>
  </div>
</div>
