<div class='main'>
  <input type="text" placeholder="search" class='search' ng-model='search'>
  <div class='podcast' ng-repeat='podcast in vm.podcasts | filter: search'>
    <div class='textWrapper'>
      <h2>{{podcast.title}}</h2>
      <h5>{{podcast.date | date : format : medium}}</h5>
      <p>{{podcast.description}}</p>
    </div>
    <div class='imgWrapper'>
      <img src="{{ podcast.image_url }}" alt="">
    </div>
  </div>
  <div class='morePodcasts'>
    <button ng-click='addPodcasts(vm.podcasts[vm.podcasts.length-1].date)'>More podcasts</button>
  </div>
</div>
