<div class='main blank'>
  <div class='podcast player' style="background-image:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url({{vm.podcast.value.data.image_url}});">
    <div class='textWrapper'>
      <h2>{{vm.podcast.value.data.title}}</h2>
      <h5>{{vm.podcast.value.data.date | date : format : medium}}</h5>
      <p>{{vm.podcast.value.data.description}}</p>
    </div>
    <div class='buttonRow'>
      <button ng-click="share(vm.podcast.value.data.id)">Share</button>
    </div>
  </div>
  <audio src="/podcasts/beatles.mp3" controls></audio>
</div>
