body {
  padding:0;
  margin:0;
  font-family: "Open Sans", sans-serif;
}
.main {
  background-color: #35A9D8;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
/*home*/
.homeWrapper{
  width: 50%;
  margin-left: 25%;
  padding: 30px;
}
.homeWrapper > h3 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 30px;
  color: white;
}
.homeWrapper > span {
  font-size: 30px;
}
.intro {
  background-color: white;
  width: 40%;
  margin: 20px 30%;
  padding: 20px;
  border-radius: 10px;
}
.intro > p {
  font-size: 14px;
}
.introHeader {
}
.subscribe {
  font-weight: 500;
  color:#E261CE;
  text-align: center;
}
.forest {
  background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('http://userscontent2.emaze.com/images/8c4a1c2c-a057-4360-9e90-e4bc2d7e21e8/5e103cc6-7555-4162-8186-3ea78d7a7004.jpg');
}
/*header*/
header {
  display: flex;
  align-items: center;
}
svg {
  width: 400px;;
}
.nav {
  float:right;
}
.logo {
  flex: 0 0 70%;
  padding:0px 5%;
}
h3 {
  font-weight: 300;
  font-size: 16px;
  display: inline;
  padding: 5px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
/*podcasts*/
.textWrapper > h2 {
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
}
.textWrapper > p {
  font-size: 14px;
  font-weight: 500;
}
.textWrapper > h5 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color:rgb(148, 148, 148);
}
.textWrapper > h2, .textWrapper > p, .textWrapper > h5{
  margin: 5px 0;
}
.podcast{
  flex: 0 0 60%;
  flex-wrap: wrap;
  margin: 20px 20% 20px 20%;
  display: flex;
  background-color: white;
}
.buttonRow{
  flex: 0 0 100%;
  display: flex;
  align-items: center;
}
.buttonRow > button {
  border-radius: 15px;
  border: none;
  margin-bottom: -15px;
  background-color: #E261CE;
  padding: 10px;
  color: white;
  flex: 0 0 10%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.textWrapper {
  flex: 0 0 60%;
  padding: 2.5%;
}
.imgWrapper{
  flex: 0 0 30%;
  padding: 2.5%;
}
img {
  max-width: 90%;
  height: auto;
}
.morePodcasts {
  width: 60%;
  margin: 20px 20%;
  display: block;
}
.morePodcasts > button {
  border: none;
  background-color: white;
  padding: 10px;
  color: #333;
  font-weight: 300;
}
.search {
  margin: 20px 20% 0px 20%;
  border-radius: 2px;
  border: none;
  padding: 5px;
}
/*footer*/
footer {
  margin: 40px;
}
.footerText{
  margin: 0 auto;
  display: table;
}
.footerText > p {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  display: inline;
}
.footerText >a >i {
  display: inline;
  margin-left: 20px;
}
/*add*/
label {
  color: white;
}
.add {
  height: 200px;
}
/*animation*/
.podcast.ng-enter,
.podcast.ng-leave
{
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.podcast.ng-enter.ng-enter-active,
.podcast.ng-leave {
    opacity: 1;
    top: 0;
}

.podcast.ng-leave.ng-leave-active,
.podcast.ng-enter {
    opacity: 0;
    top: -20px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*player*/
.gradient {
    border: 1px solid black;

    -webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
    -moz-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
    box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
    background: #494949; /* Old browsers */
background: -webkit-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);

    background: -moz-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
    background: -o-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
    background: -ms-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
    background: linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
-image  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#0b0b0b',GradientType=0 ); /* IE6-9 */
}

.container {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
    position: absolute;
    width: 427px;
    height: 70px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    -moz-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    top: 50%;
    left: 50%;
    margin: -214px 0px 0px -214px;
    padding: 10px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.cover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    width: 398px;
    height: 10px;
    border: 2px solid black;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 0px 5px 5px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 5px 5px rgba(0,0,0,1);
    box-shadow: inset 0px 5px 5px rgba(0,0,0,1);
}
.player {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    bottom: 10px;
    width: 95%;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}

.button {
    display: block;
    width: 34px;
    height: 34px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}

#play {
    background-position: 6px 5px;
}

#pause {
    background-position: -32px 5px;
}

#mute {
    background-position: -63px 5px;
}

#muted {
    background-position: -106px 5px;
}

input[type="range"] {
    width: 250px;
    margin-top: -5px;
}

#close {
    float: right;
    background-position: -146px 5px;
    display: none;
}

.volume {
    position: absolute;
    height: 100px;
    width: 34px;
    border: 1px solid black;
    background-color: #242323;
    top: -97px;
    display: none;
}
input{
    display:none\9!important;
}
input[type="range"] {
    -webkit-appearance: none;
    border: 1px solid black;
    position: absolute;
    top: 18px;
    display: block;
    width: 63%;
    height: 15px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #242323;
    left: 90px;

    -webkit-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
    box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border:1px solid black;

    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #80e4df; /* Old browsers */
background: -webkit-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);

    background: -moz-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: -o-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */
}
