body {
  padding:0;
  margin:0;
  font-family: "Open Sans", sans-serif;
}
.main {
  background-color: #35A9D8;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
button {
  cursor: pointer;
}
/*home*/
.homeWrapper{
  width: 90%;
  padding: 5%;
}
.homeWrapper > h3 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 30px;
  color: white;
  overflow:auto;
}
.homeWrapper > span {
  color: white;
  font-size: 30px;

}
.intro {
  background-color: white;
  width: 40%;
  margin: 20px 30%;
  border-radius: 10px;
}
.intro > p {
  font-size: 14px;
}
.introHeader {
  overflow:auto;
  background-color: #00CED5;
  background-size: cover;
  width: auto;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  border: none;
}
.element {
  flex: 0 0 100%;
}
.inTextLink {
  color:#E261CE;
}
.introText {
  padding: 20px;
}
.introText > p {
  font-size: 14px;
  font-weight: 300;
}
.introText > input {
  width: 96%;
  font-size: 16px;
  border: 1px solid #c8c8c8;
  padding: 2%;
  margin: 0px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-weight: 300;
}
#mc_embed_signup input:placeholder-shown {
  font-weight: 300;
  font-size: 14px;
}
.subscribe {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  background-color:#E261CE;
  color:white;
  width: 100%;
  border: none;
  padding: 2%;
  margin: 0px;
  display: block;
  text-align: center;
  overflow: auto;
  text-align: center;
}
#mc_embed_signup .mc-field-group {
  width: 100% !important;
}
#mc_embed_signup .subscribe{
  border: none;
  border-radius: 0px;
}
#mc_embed_signup input {
  border-radius: 0px;
}
#mc_embed_signup form{
  padding-left: 0px;
}
#mc_embed_signup{
  background:#fff;
  clear:left;
}
.forest {
  background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('http://userscontent2.emaze.com/images/8c4a1c2c-a057-4360-9e90-e4bc2d7e21e8/5e103cc6-7555-4162-8186-3ea78d7a7004.jpg');
}
label {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color:#333;
}
/*header*/
header {
  display: flex;
  align-items: center;
}
svg {
  width: 400px;;
}
.nav {
  float:right;
}
.logo {
  flex: 0 0 70%;
  padding:0px 5%;
}
h3 {
  font-weight: 300;
  font-size: 16px;
  display: inline;
  padding: 5px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
/*podcasts*/
.textWrapper > h2 {
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
}
.textWrapper > p {
  font-size: 14px;
  font-weight: 500;
}
.textWrapper > h5 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color:rgb(148, 148, 148);
}
.textWrapper > h2, .textWrapper > p, .textWrapper > h5{
  margin: 5px 0;
}
.podcast{
  flex: 0 0 60%;
  flex-wrap: wrap;
  margin: 20px 20% 20px 20%;
  display: flex;
  background-color: white;
}
.buttonRow{
  flex: 0 0 100%;
  display: flex;
  align-items: center;
}
.buttonRow > button  {
  border-radius: 15px;
  border: none;
  margin-bottom: -15px;
  background-color: #E261CE;
  padding: 10px;
  color: white;
  flex: 0 0 10%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.buttonRow > button > a {
  color: white;
}
.textWrapper {
  flex: 0 0 60%;
  padding: 20px 2.5%;
}
.imgWrapper{
  flex: 0 0 30%;
  padding: 20px 2.5%;
}
img {
  width: 90%;
  height: auto;
}
.morePodcasts {
  width: 60%;
  margin: 20px 20%;
  display: block;
}
.morePodcasts > button {
  border: none;
  background-color: white;
  padding: 10px;
  color: #333;
  font-weight: 300;
}
.search {
  margin: 20px 20% 0px 20%;
  border-radius: 2px;
  border: none;
  padding: 5px;
}
.blank {
  background-color: rgb(231, 230, 230);
}
/*footer*/
footer {
  margin: 40px;
}
.footerText{
  margin: 0 auto;
  display: table;
}
.footerText > p {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  display: inline;
}
.footerText >a >i {
  display: inline;
  margin: 0px 15px;
}
/*add*/
.add {
  overflow: hidden;
}
.add > form {
  width: 50%;
  background-color: white;
  margin: 20px 22.5%;
  padding: 2.5%;
}
.add > form > input{
  display: block;
}
h2 {
font-size: 25px;
font-weight: 300;
margin-top: 0px;
}
input[type='textarea'] {
  height: 75px;
  width: 200px;
}
input[type='submit'] {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  background-color:#E261CE;
  color:white;
  width: 200px;
  border: none;
  padding: 2%;
  margin: 0px;
  display: block;
  text-align: center;
  overflow: auto;
  margin-top: 15px;
}
/*list*/
table {
  width: 90%;
  margin-left: 5%;
}
td {
  border: 1px solid black;
  max-width: 200px;
  word-wrap:break-word;
}
td > .scrollable {
  overflow: scroll;
  max-height: 100px;
}
/*animation*/
.podcast.ng-enter,
.podcast.ng-leave
{
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.podcast.ng-enter.ng-enter-active,
.podcast.ng-leave {
    opacity: 1;
    top: 0;
}

.podcast.ng-leave.ng-leave-active,
.podcast.ng-enter {
    opacity: 0;
    top: -20px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*player*/
audio {
  margin: 20px auto;
  display: block;
}
.player {
  flex: 0 0 60%;
  margin: 20px 20%;
  background-size: cover;
  color:white !important;
}
.player > .textWrapper {
  flex: 0 0 100%;
}
/*modal*/
.modal {
  opacity:1;
  background-color:rgba(123,123,123, .5);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:100;
  align-items: center;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.ng-hide-add {
    -webkit-animation: zoomOut 0.4s;
}
.modal.ng-hide-remove {
    -webkit-animation: zoomIn 0.4s;
}
.inlay {
  background-color: white;
  flex: 0 0 35%;
  margin: 0 27.5%;
  padding: 5px;
}
.inlay > h3 {
  display: inline-block;
  clear: both;
  padding: 5%;
}
.fa-close {
  float: right;
}

/*media queries*/
@media only screen and (max-width: 900px) {
  svg {
    width: 300px;
    height: auto;
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    margin: 20px;
  }
  .textWrapper > h2 {
    font-size: 20px;
  }
  .player {
    flex: 0 0 90%;
    margin: 20px 5%;
    background-size: cover;
    color:white !important;
  }
}
@media only screen and (max-width: 480px) {

}
